<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/add-transaction.css">
  <link rel="stylesheet" href="../style/main.css">
  <title>FinanceApp - Adicionar transação</title>
</head>
<body>
  <header>
    <a href="../views/index.html">
      <img src="../assets/back.svg" alt="Home">
    </a>
    <p>FinanceApp</p>
  </header>

  <main>
    <p>Adicionar uma transação</p>

    <form method="post" action="">
      <label>Nome</label>
      <input type="text">

      <label>Tipo</label>
      <select name="" id="">
        <option value="" selected>Escolha uma opção</option>
        <option value="input">Entrada</option>
        <option value="output">Saída</option>
      </select>

      <label>Categoria</label>
      <select name="" id="">
        <option value="" selected>Escolha uma opção</option>
        <option value="input">Investimento</option>
        <option value="output">Comida</option>
      </select>

      <label>Valor</label>
      <input type="">

      <label>Data da transação</label>
      <input type="date">

      <button>Enviar</button>
    </form>
  </main>

</body>
</html>