<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style/main.css">
  <link rel="stylesheet" href="../style/history.css">
  <title>FinanceApp - Histórico</title>
</head>
<body>
  <header>
    <a href="../views/index.html">
      <img src="../assets/back.svg" alt="Home">
    </a>
    <p>FinanceApp</p>
  </header>

  <h1>Histórico de transações</h1>

  <main>
    <table>
      <tr>
        <th>Nome</th>
        <th>Data</th>
        <th>Tipo</th>
        <th>Categoria</th>
        <th>Valor</th>
      </tr>
      <tr>
        <td>iFood</td>
        <td>15/06/2022</td>
        <td>Saída</td>
        <td>Comida</td>
        <td>R$ 36,00</td>
      </tr>
      <tr>
        <td>Amazon - Livros</td>
        <td>20/06/2022</td>
        <td>Saída</td>
        <td>Entretenimento</td>
        <td>R$ 88,00</td>
      </tr>
      <tr>
        <td>Pedágio</td>
        <td>21/06/2022</td>
        <td>Saída</td>
        <td>Transporte</td>
        <td>R$ 50,00</td>
      </tr>
      <tr>
        <td>Adiantamento</td>
        <td>21/06/2022</td>
        <td>Entrada</td>
        <td>Salário</td>
        <td>R$ 500,00</td>
      </tr>
    </table>
  </main>
</body>
</html>